/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}
#boundary path {
  stroke-dasharray: 3 5;
}
#popup {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	max-width: 200px; /* Optional: limit the popup width */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: none; /* Hidden by default */
	z-index: 1000;
  }
  
  #popup img {
	width: 100%; /* Scale image to fit the popup */
	border-radius: 3px; /* Optional: rounded image corners */
  }
path {
  fill: none;
  stroke: black;
}

.row {
	display: flex;
}

.column {
	float: left;
	padding: 25px;
}

.left {
	width: 33%;
}
  
  .right {
	width: 66%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }

/* Your text should be in a nice narrow column */
.content-column {
	max-width: 650px;
	margin: 40px auto;
}


/* Style for selected marks (table rows) */
tr.selected {
  background-color: lightseagreen;
}
/* Pretty table layout */
table {
	font-size: 14px;
	border-collapse: separate;
	/* vertical | horizontal */
	border-spacing: 0 0;
	text-align: right;
	margin: 0 auto;
	user-select: none;
  }
  
  th, td {
	/* vertical | horizontal */
	padding: 0 8px;
  }
  
  /* Don't also do text drag selection */
  table.text-unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
  }
  /* Recreate the D3 brush style... */
tr.mouseover {
  background-color: #d6d6d6;
}

/* ...but add a darker selected and brushed color. */
tr.mouseover.selected{
  background-color: #e08fa3;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */  
#forkongithub a{
	background:#00F;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:1.4rem;
	position:relative;
	transition:0.5s;
}
#forkongithub a:hover{
	background:#118;
	color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:1000px){
	#forkongithub{
		position:fixed;
		display:block;
		top:0;
		right:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}
	#forkongithub a{
		width:200px;
		position:absolute;
		top:60px;
		right:-60px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}
