/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2
}
.hidden {
	display: none;
  }
  

/* Your text should be in a nice narrow column */
.content-column {
	max-width: 650px;
	margin: 40px auto;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
  width: 100%;
  height: 100%;
}

.vis-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100%;
}

.clear-button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 20%;
}

.tooltip {
	position: absolute;
	padding: 5px;
	background: rgba(24, 92, 107, 0.5);
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 200px;
	height: 30px;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	pointer-events: none;
	visibility: hidden;
	opacity: 0; /* Hidden by default */
	transition: opacity 0.2s ease-in-out;
	z-index: 999999; /* Ensures it is at the front of the graph */
  }

#clear-button {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

#clear-button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

#clear-button:active:hover {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.scatterplot-container {
  width: 55%; /* Make scatter plot smaller */
  height: 100%;
  position: relative;
}

.bar-graphs-container {
  width: 50%; /* Make bar graphs bigger */
  height: 80%; /* Adjust height to center vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Center horizontally */
}

.bar-chart-container {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 100%
}

.point {
	stroke-width: 3;
}

circle.mouseover {
	fill: pink;
	stroke: red;
	opacity: 5;
}

circle.selected {
	fill: green;
	stroke: red;
	stroke-width: 4px;
	opacity: 5;
}

.countryLabel {
   font-size: 12px;
   fill: black;
}

.axisLabel {
	font-size: 15px;
	fill: Black;

}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */  
#forkongithub a{
	background:#00F;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:1.4rem;
	position:relative;
	transition:0.5s;
}
#forkongithub a:hover{
	background:#118;
	color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:1000px){
	#forkongithub{
		position:fixed;
		display:block;
		top:0;
		right:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}
	#forkongithub a{
		width:200px;
		position:absolute;
		top:60px;
		right:-60px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}
